{{template "base" .}}

{{define "content"}}
<div class="container min-vh-100">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto d-block">
      <img src="../static/images/general.jpg" alt="A photo of the generals suite" class="img-fluid img-thumbnail">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>
        This is the generals room page
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="/reservation-ability-general">
        <button class="btn btn-success">Check availability</button>
      </a>
    </div>
  </div>
</div>

{{end}}